/.vscode
/__pycache__
latihan_python/tes.py
/video
Project/Simple/Spam/text2.txt
.gitignore
latihan_python/ksn_2020.py
Lain-Lain/latihan_python/ksn_2020.py
Lain-Lain/latihan_python/permintaan_wiwin.py
Lain-Lain/Project/Complex/Quran Web/pembaca.py
Lain-Lain/Project/Complex/Quran Web/quran.json
Lain-Lain/Project/Complex/Quran Web/quran2.json
Lain-Lain/Project/Complex/Quran Web/web-quran-master.zip
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/.app.py.swp
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/app.py
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/Procfile
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/README.md
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/requirements.txt
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/quran/__init__.py
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/quran/api_quran.py
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/quran/quran.json
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/quran/__pycache__/__init__.cpython-39.pyc
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/quran/__pycache__/api_quran.cpython-39.pyc
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/static/bismilah.png
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/static/jquery.min.js
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/static/prism.css
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/static/prism.js
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/static/remixicon.css
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/static/script.js
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/static/style.css
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/templates/api.html
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/templates/core.html
Lain-Lain/Project/Complex/Quran Web/web-quran-master/web-quran-master/templates/index.html
Lain-Lain/Project/Simple/Pembaca JSON/data.json
Lain-Lain/Project/Simple/Spam/random_wiwin.py
Lain-Lain/Project/Simple/Spam/wiwin.py
